.transactionHistory {
  width: 50%;
  margin-top: 20px;
  margin: 0 auto;
}

.header {
  background-color: #00bfff;
  padding: 10px;
  text-align: center;
  color: azure;
}

.row:nth-child(2n) {
  background-color: #f4f4f4;
}

.type,
.amount,
.currency {
  color: black;
  text-align: center;
  padding: 10px 15px;
}
