.transactionHistory {
  width: 50%;
  margin-top: 20px;
  margin: 0 auto;
}

.header {
  background-color: #00bfff;
  padding: 10px;
  text-align: center;
}

.type,
.amount,
.currency {
  color: black;
  text-align: center;
  padding: 5px;
}
